# Jeopardy Game Analysis

#### *Kim Kirk* <br> *July 16, 2020*

## Synopsis

A descriptive data analysis was performed on Jeopardy game data. 216,930 rows were imported, cleaned, and analyzed. Analysis of the difficulty level of specific topics in the game Jeopary by determining the average value of questions containing a given keyword, with the idea that identifying these high value questions can be used as a successful strategy to win the game.

### Data Processing

Import required libraries and data set. Explore the data set.

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy = pd.read_csv('jeopardy.csv', skipinitialspace=True)

print(jeopardy.head(30))
print(jeopardy.info())
print(jeopardy)

print(jeopardy['Question'].head(15))
#renaming columns for ease of use moving forward
jeopardy.rename(columns={'Show Number': 'show_number', 'Air Date': 'air_date', 'Round': 'round', 'Category': 'category', 'Value': 'value','Question': 'question', 'Answer': 'answer'}, inplace = True)

    Show Number    Air Date             Round  \
0          4680  2004-12-31         Jeopardy!
1          4680  2004-12-31         Jeopardy!
2          4680  2004-12-31         Jeopardy!
3          4680  2004-12-31         Jeopardy!
4          4680  2004-12-31         Jeopardy!
5          4680  2004-12-31         Jeopardy!
6          4680  2004-12-31         Jeopardy!
7          4680  2004-12-31         Jeopardy!
8          4680  2004-12-31         Jeopardy!
9          4680  2004-12-31         Jeopardy!
10         4680  2004-12-31         Jeopardy!
11         4680  2004-12-31         Jeopardy!
12         4680  2004-12-31         Jeopardy!
13         4680  2004-12-31         Jeopardy!
14         4680  2004-12-31         Jeopardy!
15         4680  2004-12-31         Jeopardy!
16         4680  2004-12-31         Jeopardy!
17         4680  2004-12-31         Jeopardy!
18         4680  2004-12-31         Jeopardy!
19         4680  2004-12-31         Jeopardy!
20         4680  2004-12-31         Jeopardy!
21         4680  2004-12-31         Jeopardy!
22         4680  2004-12-31         Jeopardy!
23         4680  2004-12-31         Jeopardy!
24         4680  2004-12-31         Jeopardy!
25         4680  2004-12-31         Jeopardy!
26         4680  2004-12-31         Jeopardy!
27         4680  2004-12-31         Jeopardy!
28         4680  2004-12-31         Jeopardy!
29         4680  2004-12-31  Double Jeopardy!

                           Category   Value  \
0                           HISTORY    $200
1   ESPN's TOP 10 ALL-TIME ATHLETES    $200
2       EVERYBODY TALKS ABOUT IT...    $200
3                  THE COMPANY LINE    $200
4               EPITAPHS & TRIBUTES    $200
5                    3-LETTER WORDS    $200
6                           HISTORY    $400
7   ESPN's TOP 10 ALL-TIME ATHLETES    $400
8       EVERYBODY TALKS ABOUT IT...    $400
9                  THE COMPANY LINE    $400
10              EPITAPHS & TRIBUTES    $400
11                   3-LETTER WORDS    $400
12                          HISTORY    $600
13  ESPN's TOP 10 ALL-TIME ATHLETES    $600
14      EVERYBODY TALKS ABOUT IT...    $600
15                 THE COMPANY LINE    $600
16              EPITAPHS & TRIBUTES    $600
17                   3-LETTER WORDS    $600
18                          HISTORY    $800
19  ESPN's TOP 10 ALL-TIME ATHLETES    $800
20      EVERYBODY TALKS ABOUT IT...    $800
21                 THE COMPANY LINE    $800
22              EPITAPHS & TRIBUTES  $2,000
23                   3-LETTER WORDS    $800
24                          HISTORY   $1000
25  ESPN's TOP 10 ALL-TIME ATHLETES   $1000
26                 THE COMPANY LINE   $1000
27              EPITAPHS & TRIBUTES   $1000
28                   3-LETTER WORDS   $1000
29       DR. SEUSS AT THE MULTIPLEX    $400

                                                                                                                                                                       Question  \
0                                                                              For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                                                                   No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                                                                      The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                                                                          In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                                                                      Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                                                                                 In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                                                                                  Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                                                                                        No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8                                                                 In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9                                                                            This housewares store was named for the packaging its merchandise came in & was first displayed on
10                                                                                                                                                             "And away we go"
11                                                                                                    Cows regurgitate this from the first stomach to the mouth & chew it again
12                                                                              In 1000 Rajaraja I of the Cholas battled to take this Indian Ocean island now known for its tea
13                                                       No. 1: Lettered in hoops, football & lacrosse at Syracuse & if you think he couldn't act, ask his 11 "unclean" buddies
14                                                          On June 28, 1994 the nat'l weather service began issuing this index that rates the intensity of the sun's radiation
15                                                                 This company's Accutron watch, introduced in 1960, had a guarantee of accuracy to within one minute a  month
16                                                                                         Outlaw: "Murdered by a traitor and a coward whose name is not worthy to appear here"
17                                                                                                         A small demon, or a mischievous child (who might be a little demon!)
18                                                                                     Karl led the first of these Marxist organizational efforts; the second one began in 1889
19                                                                          No. 10: FB/LB for Columbia U. in the 1920s; MVP for the Yankees in '27 & '36; "Gibraltar in Cleats"
20                                                                   Africa's lowest temperature was 11 degrees below zero in 1935 at Ifrane, just south of Fez in this country
21                                                                                                    Edward Teller & this man partnered in 1898 to sell high fashions to women
22                                                                                         1939 Oscar winner: "...you are a credit to your craft, your race and to your family"
23                                                                         In geologic time one of these, shorter than an eon, is divided into periods & subdivided into epochs
24                                                                                    This Asian political party was founded in 1885 with "Indian National" as part of its name
25                                                                      No. 5: Only center to lead the NBA in assists; track scholarship to Kansas U.; marathoner; volleyballer
26                                                                      The Kirschner brothers, Don & Bill, named this ski company for themselves & the second-highest mountain
27                                                                                                                       Revolutionary War hero: "His spirit is in Vermont now"
28                                                                                                                A single layer of paper, or to perform one's craft diligently
29  <a href="http://www.j-archive.com/media/2004-12-31_DJ_23.mp3">Beyond ovoid abandonment, beyond ovoid betrayal... you won't believe the ending when he "Hatches the Egg"</a>

                                                  Answer
0                                             Copernicus
1                                             Jim Thorpe
2                                                Arizona
3                                             McDonald's
4                                             John Adams
5                                                the ant
6                                         the Appian Way
7                                         Michael Jordan
8                                             Washington
9                                         Crate & Barrel
10                                        Jackie Gleason
11                                               the cud
12                                 Ceylon (or Sri Lanka)
13                                             Jim Brown
14                                          the UV index
15                                                Bulova
16                                           Jesse James
17                                                   imp
18                                     the International
19                                          (Lou) Gehrig
20                                               Morocco
21                                         (Paul) Bonwit
22  Hattie McDaniel (for her role in Gone with the Wind)
23                                                   era
24                                    the Congress Party
25                                    (Wilt) Chamberlain
26                                                    K2
27                                           Ethan Allen
28                                                   ply
29                                                Horton
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB
None
        Show Number    Air Date             Round  \
0              4680  2004-12-31         Jeopardy!
1              4680  2004-12-31         Jeopardy!
2              4680  2004-12-31         Jeopardy!
3              4680  2004-12-31         Jeopardy!
4              4680  2004-12-31         Jeopardy!
...             ...         ...               ...
216925         4999  2006-05-11  Double Jeopardy!
216926         4999  2006-05-11  Double Jeopardy!
216927         4999  2006-05-11  Double Jeopardy!
216928         4999  2006-05-11  Double Jeopardy!
216929         4999  2006-05-11   Final Jeopardy!

                               Category  Value  \
0                               HISTORY   $200
1       ESPN's TOP 10 ALL-TIME ATHLETES   $200
2           EVERYBODY TALKS ABOUT IT...   $200
3                      THE COMPANY LINE   $200
4                   EPITAPHS & TRIBUTES   $200
...                                 ...    ...
216925                   RIDDLE ME THIS  $2000
216926                        "T" BIRDS  $2000
216927           AUTHORS IN THEIR YOUTH  $2000
216928                       QUOTATIONS  $2000
216929                   HISTORIC NAMES   None

                                                                                                                      Question  \
0                             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
...                                                                                                                        ...
216925                                              This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                 In North America this term is properly applied to only 4 species that are crested, including the tufted
216927               In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928  From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                 A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great

                                Answer
0                           Copernicus
1                           Jim Thorpe
2                              Arizona
3                           McDonald's
4                           John Adams
...                                ...
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

[216930 rows x 7 columns]
0                           For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                   The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                       In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                   Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                              In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                               Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                                     No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8              In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9                         This housewares store was named for the packaging its merchandise came in & was first displayed on
10                                                                                                          "And away we go"
11                                                 Cows regurgitate this from the first stomach to the mouth & chew it again
12                           In 1000 Rajaraja I of the Cholas battled to take this Indian Ocean island now known for its tea
13    No. 1: Lettered in hoops, football & lacrosse at Syracuse & if you think he couldn't act, ask his 11 "unclean" buddies
14       On June 28, 1994 the nat'l weather service began issuing this index that rates the intensity of the sun's radiation
Name: Question, dtype: object

Finding specific words in a Question in the data set. A check is performed to ensure the function is working properly.

In [2]:
   
def find_these_words(a_list):
    words_with_matches = []
    for word in a_list:
        word = word.lower()
        for ind in jeopardy.index:
            if word in jeopardy['question'][ind].lower():
                found_row = jeopardy.iloc[ind]
                words_with_matches.append(found_row)
    matches_dataframe = pd.DataFrame(words_with_matches, columns=jeopardy.columns) 
    return matches_dataframe

#check  
data_frame_results = find_these_words(['Galileo', 'yuma'])
print(data_frame_results.iloc[0:3])

      show_number    air_date             round           category value  \
0            4680  2004-12-31         Jeopardy!            HISTORY  $200
4419         1276  1990-03-05  Double Jeopardy!        THE PLANETS  $600
6239         5307  2007-10-09         Jeopardy!  OUT OF THIS WORLD  $400

                                                                                                   question  \
0          For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
4419  The 4 largest moons of this planet are called Galilean satellites after Galileo, who saw them in 1610
6239                                       Galileo was the first person to see the rings around this planet

          answer
0     Copernicus
4419     Jupiter
6239      Saturn

Add a new column calculated from the "value" column in the jeopardy data frame to float so aggregates can be performed on it. A check is performed to ensure the new column is populated correctly.

In [3]:
import re

jeopardy['value_as_float'] = jeopardy.value.apply(lambda x: #strip string of $ character 
                                                 float(0) if x == 'None' else float(re.sub('^\$|\,', '', x)))

#check
print('New column is populated')
jeopardy['value_as_float'][0:5]

New column is populated

0    200.0
1    200.0
2    200.0
3    200.0
4    200.0
Name: value_as_float, dtype: float64

### Exploratory Data Analysis

Find difficulty level of specific topics, determined by average value of questions containing a given keyword.

In [4]:

rows_with_king = find_these_words(['King'])
print('Average value of questions with keyword "King" in them: ')
print(round(rows_with_king.value_as_float.mean(), 2))

rows_with_yuma = find_these_words(['Yuma'])
print('Average value of questions with keyword "Yuma" in them: ')
print(round(rows_with_yuma.value_as_float.mean(), 2))

Average value of questions with keyword "King" in them:
771.88
Average value of questions with keyword "Yuma" in them:
860.0

Clearly, questions with the word "Yuma" in them have, on average, a greater value than questions with the word "King" in them.

Identify the count of unique answers to questions with a specific keyword by finding the number of unique counts for the answer values for the given question. Note that the game Jeopardy requires a correct answer to the given question, which is a full answer; this means that a partial answer to a question is not sufficient to be deemed a correct answer to the question. For example, if the full answer to the question given is 'Olympia, Washington' then 'Olympia' is not considered a correct answer because it is a partial answer. In this way, unique counts of values for the 'answer' column means the value must be an exact match and not a partial match. A check is done to ensure the function is working correctly.

In [5]:
import numpy

def unique_answers(a_dataframe):
    number_of_unique = a_dataframe.answer.nunique()
    return number_of_unique

for_rows_with_kings = unique_answers(rows_with_king)
   
#check
print('Number of rows with keyword in "question" column \
is more than number of unique values found for the "answer" column for those questions')
print("\n")
print(len(rows_with_king) > for_rows_with_kings)

Number of rows with keyword in "question" column is more than number of unique values found for the "answer" column for those questions


True

### Conclusion

Based on the analysis, there is a pattern of questions with a specific keyword that have a greater value on average than others. For example, questions with the word "Yuma" in them have, on average, a greater value than questions with the word "King" in them. Additional analysis should be performed for other keywords to identify the set of questions that have high value; these keywords can then be used a focal point for devising a strategy to win the game.